@use '../assets/sass/variables' as *;

*{
    margin: 0px;
    padding: 0px;
}

.divborda{
    background-color: $second-color;
    height: 74px;
    display: flex;
}

.divborda h5{
    background-color: $second-color;
    margin-top: 29px;
    margin-left: 61px;
    font-size: 25px;
    font-weight: 600;
    color: $third-color;
}


.divborda h4{
    background-color: $second-color;
    color: $third-color;
    margin-top: 29px;
    margin-left: 97px;
    font-size: 25px;
    font-weight: 600;   
}

.function{
    margin-left: -150px;
    margin-top: 219px;
    align-items: center;

}


.function h2 {
    color: $third-color;
    font-size: 40px;
    font-weight: 600;
    
}

.afazeres{
    display: flex;
    grid-auto-flow: column;
    margin-top: 90px;
    justify-content: space-around;
    font-size: 30px;
    font-weight: 600;
    
    
}

.function h3{
    color: $third-color;
}

hr{
    border: 3px solid $third-color;
    border-radius: 5px;
    margin-left: 100px;
    margin-top: 20px;
    width: 900px;
  }


  .logica input{
    margin-top: 50px;
    margin-left: 130px;
    font-size: 25px;
    font-weight: 400;
    border: none;
    background-color: $first-color;
    color: $third-color;
    
  }
 
 .logica button{
    border: none;
    margin-left: 25px;
    font-size: 25px;
    cursor:pointer;
 }